
rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {

    // Helper function to check if a user is an admin
    function isAdmin(userId) {
      return exists(/databases/$(database)/documents/users/$(userId)) &&
             get(/databases/$(database)/documents/users/$(userId)).data.role == 'admin';
    }

    // Rules for the 'users' collection
    match /users/{userId} {
      // Allow create for any new user (for signup)
      allow create: if request.auth != null;
      // Allow read and update only for the document owner or an admin
      allow read, update: if request.auth.uid == userId || isAdmin(request.auth.uid);
      // Allow delete only for admins
      allow delete: if isAdmin(request.auth.uid);
    }

    // Rules for the 'iscribes' collection
    match /iscribes/{iscribeId} {
      // Allow read, create, update, delete for the document owner or an admin
      allow read, create, update, delete: if request.auth.uid == request.resource.data.userId || isAdmin(request.auth.uid);
    }
  }
}
